:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #0e0e0e;
  --text: white;
  --divider: #aaa;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

li.list-item-done {
  opacity: 0.5;
}

li.list-item-done span {
  text-decoration: line-through;
}

.list-item- {
  display: flex;
  align-items: center;
  gap: 0.5 rem;
  padding: 0.5 rem 0;
}

.list-item-done {
  display: flex;
  align-items: center;
  gap: 0.5 rem;
  padding: 0.5 rem 0;
}

.item-name {
  flex: 1;
}

.lists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
  padding: 3rem;
  justify-content: center;
}

.list-title {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  margin-bottom: 0.5rem;
}

.list-divider {
  border-bottom: 2px solid transparent;
  border-image: repeating-linear-gradient(
    to right,
    var(--divider) 0,
    var(--divider) 6px,
    transparent 6px,
    transparent 14px
  ) 1;
  margin: 1rem 0;
}

.list-card {
  border: 2px solid var(--divider);
  padding: 1.5rem;
  width: 100%;
  max-width: 320px;
  background: var(--bg); 
}

.deleteitembutton {
  width: 2em;
  height: 2em;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteitembutton img {
  width: 1.2em;
  height: 1.2em;
}

.deleteitembutton:hover img {
  opacity: 0.7;
}

.deleteitembutton:hover {
  transform: scale(1.1);
}